<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head th:replace="~{head :: head('Categorias')}"></head>
<body>
<div class="container flex-box justify-content-center" align="center">
    <h2 class="mb-5 mt-3">Categorias</h2>

    <form th:action="@{/categoria}" method="post" th:object="${categoria}" class="w-50">
        <!--mvc hidden method filter-->
        <input type="hidden" name="_method" value="put">

        <!--Listar-->
        <button type="submit" formaction="categoria/listar" formmethod="get"
                class="btn btn-secondary mb-3 w-100">Listar Categorias
        </button>

        <div class="input-group mb-3">
            <span class="input-group-text">Descrição</span>
            <input th:field="*{descricao}" class="form-control" placeholder="Descrição da categoria">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Diária</span>
            <input th:field="*{valorDiaria}" class="form-control" placeholder="Valor da diária da categoria">
        </div>

        <!--Botões-->
        <div class="d-flex gap-2">
            <!-- PUT -->
            <button type="submit" class="btn btn-secondary w-100"
                    onclick="this.form._method.value='put'">
                Atualizar
            </button>

            <!-- POST -->
            <button type="submit" class="btn btn-secondary w-100">Salvar</button>

        </div>

    </form>

    <!--Listagem-->
    <div class="container d-flex align-items-center justify-content-center" th:if="${categorias.size() > 0}">
        <div class="card mx-3 my-3" style="width: 100%;">
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descrição</th>
                        <th>Valor da Diária</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="categoria : ${categorias}">
                        <td th:text="${categoria.id}"></td>
                        <td th:text="${categoria.descricao}"></td>
                        <td th:text="${categoria.valorDiaria}"></td>
                        <td>
                            <!--Editar-->
                            <a th:href="@{'/categoria/' + ${categoria.id}}"
                               title="Editar Categoria"
                               class="fa-regular fa-pen-to-square icon-dark"></a>

                            &nbsp;

                            <!--Form DELETE oculto-->
                            <form th:action="@{'/categoria/' + ${categoria.id}}"
                                  method="post"
                                  th:id="'formDelete' + ${categoria.id}"
                                  style="display:none;">
                                <input type="hidden" name="_method" value="delete">
                            </form>

                            <!-- Botão Delete -->
                            <a href="#"
                               title="Excluir Categoria"
                               class="fa-regular fa-trash-can icon-dark"
                               onclick="document.getElementById('formDelete' + [[${categoria.id}]]).submit(); return false;">
                            </a>
                        </td>

                    </tbody>
                </table>


            </div>


        </div>

    </div>


</div>
</body>
</html>