<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="header(activePage)">
    <div class="d-flex align-items-stretch justify-content-around" style="background: #2C7AA2; height: 70px">
        <h3 class="text-white align-self-center"><strong>WINGS AND WHEELS</strong></h3>

        <a th:href="@{'/categoria'}" th:classappend="${activePage == 'categorias'} ? 'active'"
           class="d-flex align-items-center mb-0 text-white text-decoration-none p-3">EDITAR CATEGORIAS</a>
        <a th:href="@{'/carro'}" th:classappend="${activePage == 'carros'} ? 'active'"
           class="d-flex align-items-center mb-0 text-white text-decoration-none p-3">EDITAR CARROS</a>
        <a th:href="@{'/admin'}" th:classappend="${activePage == 'pedidos'} ? 'active'"
           class="d-flex align-items-center mb-0 text-white text-decoration-none p-3">PEDIDOS E DEVOLUÇÕES</a>

    </div>
</header>

</body>
</html>