<!DOCTYPE html>
    <html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header(activePage)">
    <div class="d-flex align-items-stretch justify-content-between px-4"
         style="background: #2C7AA2; height: 70px">

        <div class="d-flex h-100">

            <div class="d-flex align-items-center">
                <h3 class="text-white m-0" style="font-family: sans-serif; font-weight: 800; letter-spacing: 1px;">
                    WINGS AND WHEELS
                </h3>
            </div>

            <nav class="d-flex ms-5 ps-4 h-100">
                <a th:href="@{/catalogo/carros}"
                   th:classappend="${activePage == 'carros'} ? 'active'"
                   class="d-flex align-items-center text-white text-decoration-none px-4 h-100"
                   style="font-size: 0.9rem; letter-spacing: 0.5px;">
                    VER TODOS
                </a>
                <a th:href="@{/catalogo/categorias}"
                   th:classappend="${activePage == 'categorias'} ? 'active'"
                   class="d-flex align-items-center text-white text-decoration-none px-4 h-100"
                   style="font-size: 0.9rem; letter-spacing: 0.5px;">
                    CATEGORIAS
                </a>
            </nav>
        </div>
        <div class="d-flex h-100">
            <nav class="d-flex h-100">
                <a th:href="@{/admin}"
                   th:classappend="${activePage == 'admin'} ? 'active'"
                   class="d-flex align-items-center text-white text-decoration-none px-4 h-100"
                   style="font-size: 0.9rem; letter-spacing: 0.5px;">
                    ADMINISTRAÇÃO
                </a>
            </nav>
        </div>
    </div>
</header>
</html>